body {
  background-color: #043e7d;
  width: 50%;
  display: flex;
  justify-content: center;
  margin-left: 95px;
}

#greeting {
  font-size: 20px;
  color: antiquewhite;
}

#name {
  font-size: 100px;
  font-weight: bold;
  font-family: -apple-system, BlinkMacSystemFont, "Segoe UI", Roboto, Oxygen,
    Ubuntu, Cantarell, "Open Sans", "Helvetica Neue", sans-serif;
  font-stretch: narrower;
}

#iBuildWeb {
  text-align: unset;
  font-family: Arial, Helvetica, sans-serif;
  font-size: 100px;
  color: darksalmon;
}

#paragraph {
  font-family: Arial, Helvetica, sans-serif;
  color: beige;
}

#button {
  border: 2px solid tomato;
  background: none;
  color: white;

  padding: 15px;
  border-radius: 15px;
  margin: 15px;
}

#button:hover {
  cursor: pointer;
  border: 3px solid tomato;
  background-color: tomato;
}

.Images {
  flex-direction: column;
}

.bigImage {
  width: 250px;
  height: 250px;
}

.smallImage {
  width: 250px;
  height: 250px;
}
